@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme.css';

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  [hidden] {
		display: none !important;
	}

  ._h{
    @apply text-balance font-semibold;
  }

  h1{
    @apply _h;
    font-size: clamp(2.5rem, 5vw + 0.5rem, 4rem);
  }
  h2{
    @apply _h;
    font-size: clamp(2rem, 4vw + 0.4rem, 3.5rem); 
  }

  h3{
    @apply _h;
    font-size: clamp(1.5rem, 3vw + 0.3rem, 3rem);
  }

  h4,.h4{
    @apply _h;
    font-size: clamp(1.25rem, 2.5vw + 0.2rem, 2.5rem);
  }

  h5{
    @apply _h;
    font-size: clamp(1rem, 2vw + 0.1rem, 2rem);
  }
}

@layer components {
   /* CTA styles */
  ._cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    text-align: center;
    text-shadow: none;
  }
  .link {
    @apply underline hover:decoration-2;
  } 
  .action {
    @apply _cta rounded border border-transparent text-white bg-neutral-800;
  }
  .action-outline {
    @apply _cta border-neutral-800/10 text-neutral-800 rounded border;
  }

  .section {
		@apply mx-auto max-w-screen-xl p-8 max-md:px-4 md:py-12;
	}
}



@layer utilities {
  .debug {
    @apply border-2 border-red-500;
  }

  /* animations */
  @keyframes anim-fade-to {
		from {
			opacity: 0;
			translate: var(--x, 0) var(--y, 0);
		}
	}

	.anim-fade,
	.anim-fade-to-l,
	.anim-fade-to-r,
	.anim-fade-to-t,
	.anim-fade-to-b {
		--x: 0;
		--y: 0;
		animation: anim-fade-to 0.2s ease-in-out forwards;
	}

	.anim-fade-to-l {
		--x: 1rem;
	}

	.anim-fade-to-r {
		--x: -1rem;
	}

	.anim-fade-to-t {
		--y: 1rem;
	}

	.anim-fade-to-b {
		--y: -1rem;
	}

  .opacity-gradient {
    @apply bg-gradient-to-b from-black/0 to-black/40;
  }
}
